<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        table {border:3px solid; text-align:center; vertical-align:middle}
        td {border:3px solid; width:50px; height:50px}
        button {width:30px; height:30px}
    </style>
    <title>〇☓ゲーム</title>
</head>
<body>
    <p>{{$.Turn}}の{{$.Win}}</p>
    <form action="/oxGame" method="post">
    <table>
        {{ range $i, $val := .List}}
            <tr>
            {{ range $j, $v:= $val}}
                <td>
                    {{ if $v }}
                    <!-- <input type="hidden" value="{{ $v }}"> -->
                    <span>{{ $v }}</span>
                    {{else}}
                    <button name="res" value="{{$i}}_{{$j}}"></button>
                    {{ end }}
                </td>
            {{ end }}
            </tr>
        {{ end }}
    </table>
    <a href="/oxGame">もう一度</a>
    </form>
</body>
</html>
<!-- <script>
function f(id) {
    document.getElementById("res").value = id
    // document.forms["MyForm"].submit();
}
</script> -->
    <!-- {{range $i, $val := .List}}
        <div>
            {{range $j, $v := $val}}
                {{ if ne $v "" }}
                    <span>{{ $v }}</span>
                {{ else }}
                    <button id="{{$i}}_{{$j}}" onclick="f(this.id)"></button>
                {{ end }}
            {{ end }}
            </div>
    {{ end }}
    {{ $.List }} -->
    <!-- <form name="MyForm" method="post">
        <input type="hidden" name="res" value="" id="res"> -->